<html>
     <!-- navbar -->
    <nav class="navbar navbar-expand-sm fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="#">Superhero School</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/index.html">Home</a>
            <a class="nav-link active" href="#">Employees<span class="sr-only">(current)</a>
            <a class="nav-link" href="/students">Students</span></a>
            <a class="nav-link" href="/superpowers">Superpowers</a>
            <a class="nav-link" href="/missions">Missions</a>
            <a class="nav-link" href="/teams">Teams</a>
          </div>
        </div>
    </nav>
    <div class="container my-5 pt-4">
        <div class="row justify-content-md-center">
            <!-- List of Employees w/ Delete Buttons -->
            <div class="col-md-5 pr-5">
                <h4 class="display-4">List of Employees</h4>
                <ul class="list-group list-group-flush">
                    {{#each employees}}
                    <li class="list-group-item"><a href="/employees/{{employeeID}}">{{firstName}} {{lastName}}</a>
                        <button class="delete-buttons btn btn-secondary btn-sm" onclick="deleteEmployee({{employeeID}})">&cross;</button>
                    </li>
                    {{/each}}
                  </ul>
            </div>
            <!-- Add a new employee -->
            <div class="col-md-6 pl-5">
                <h3>List a new employee</h3>
                <form action="/employees" method="POST" class="border px-5 py-4" id="add-employee">
                    <!-- first & last name -->
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="fname">First Name</label>
                            <input type="text" class="form-control" id="fname" name="fname" placeholder="fname" required="required">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lname">Last Name <em>(Optional)</em></label>
                            <input type="text" class="form-control" id="lname" name="lname" placeholder="lname">
                        </div>
                    </div>
                    <!-- alias -->
                    <div class="form-group">
                        <label for="alias">Alias <em>(Optional)</em></label>
                        <input type="text" class="form-control" id="alias" name="alias">
                    </div>
                    <!-- email -->
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="email@example.com" required="required">
                    </div>
                    <!-- position -->
                    <div class="form-group">
                        <label for="position">Position</label>
                        <input type="text" class="form-control" id="position" name="position" placeholder="Professor" required="required">
                    </div>
                    <!-- area -->
                    <div class="form-group">
                        <label for="area">Area</label>
                        <input type="text" class="form-control" id="area" name="area" placeholder="History Department" required="required">
							</div>
                    <!-- Superpower -->
                    <div class="form-group">
                        <label for="superpower">Superpower (optional)</label>
                        <select id="superpower" name="superpower" class="form-control">
                            <option value="">None</option>
                            {{#each superpowers}}
                                <option value="{{superpowerID}}">{{superpower}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <!-- home -->
                    <div class="form-group">
                        <label for="home">Home</label>
								 <input type="text" class="form-control" id="home" name="home">
                        
                    </div>
                    <!-- submit button -->
                    <input type="submit" value="Create Employee" class="btn btn-secondary btn-lg btn-block mt-5">
                </form>
            </div>
        </div>
    </div>
</html>