<html>
    <!-- navbar -->
    <nav class="navbar navbar-expand-sm fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="#">Superhero School</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/index.html">Home</a>
            <a class="nav-link" href="/employees">Employees</a>
            <a class="nav-link" href="/students">Students</a>
            <a class="nav-link" href="/superpowers">Superpowers</a>
            <a class="nav-link" href="/missions">Missions</a>
            <a class="nav-link" href="/teams">Teams</a>
          </div>
        </div>
    </nav>
    <div class="container mt-5 pt-3">
        <!-- mission name and leader -->
        <h4 class="display-4 mt-3 mb-5">Mission: {{mission.name}}</h4>
        <h3 class="display-5">Leader: {{mission.leaderFName}} {{mission.leaderLName}}</h3>
        <!-- students w/ delete buttons-->
        <div class="row my-4">
            <div class="col-md-5">
                <h3 class="display-5">Student List</h3>
                <ul class="list-group list-group-flush">
                    {{#each students_filtered}}
                        <li class="list-group-item"><a href="/students/{{studentID}}">{{firstName}} {{lastName}}</a>
                            <button class="delete-buttons btn btn-secondary btn-sm" onclick="deleteMissionStudent({{missionID}}, {{studentID}})">&cross;</button>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</html>